# CAP VENDOR_PORTAL
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# auto generated wildcard
db/.env
# auto generated wildcard
gen/db/.env
# auto generated wildcard
.env1
# auto generated wildcard
.env2
resources/comibsmanagesite.zip
.gitignore
app/manage-site/dist/comibsmanagesite.zip
app/manage-site/dist/Component-preload.js
app/manage-site/dist/index.html
app/manage-site/dist/manifest.json
app/manage-site/dist/sap-ui-cachebuster-info.json
app/tool-page-ui/dist/comibstoolpageui.zip
app/tool-page-ui/dist/Component-dbg.js
app/tool-page-ui/dist/Component-preload.js
app/tool-page-ui/dist/Component-preload.js.map
app/tool-page-ui/dist/Component.js
app/tool-page-ui/dist/Component.js.map
app/tool-page-ui/dist/index.html
app/tool-page-ui/dist/manifest.json
app/tool-page-ui/dist/sap-ui-cachebuster-info.json
app/tool-page-ui/dist/controller/App-dbg.controller.js
app/tool-page-ui/dist/controller/App.controller.js
app/tool-page-ui/dist/controller/App.controller.js.map
app/tool-page-ui/dist/controller/Help-dbg.controller.js
app/tool-page-ui/dist/controller/Help.controller.js
app/tool-page-ui/dist/controller/Help.controller.js.map
app/tool-page-ui/dist/controller/Master-dbg.controller.js
app/tool-page-ui/dist/controller/Master.controller.js
app/tool-page-ui/dist/controller/Master.controller.js.map
app/tool-page-ui/dist/controller/Service-dbg.controller.js
app/tool-page-ui/dist/controller/Service.controller.js
app/tool-page-ui/dist/controller/Service.controller.js.map
app/tool-page-ui/dist/controller/Welcome-dbg.controller.js
app/tool-page-ui/dist/controller/Welcome.controller.js
app/tool-page-ui/dist/controller/Welcome.controller.js.map
app/tool-page-ui/dist/css/style.css
app/tool-page-ui/dist/fragment/About.fragment.xml
app/tool-page-ui/dist/fragment/loginDialog.fragment.xml
app/tool-page-ui/dist/fragment/UserMenu.fragment.xml
app/tool-page-ui/dist/fragment/UserPopover.fragment.xml
app/tool-page-ui/dist/i18n/i18n.properties
app/tool-page-ui/dist/image/Nihilent.jpg
app/tool-page-ui/dist/model/models-dbg.js
app/tool-page-ui/dist/model/models.js
app/tool-page-ui/dist/model/models.js.map
app/tool-page-ui/dist/view/App.view.xml
app/tool-page-ui/dist/view/Help.view.xml
app/tool-page-ui/dist/view/Master.view.xml
app/tool-page-ui/dist/view/Service.view.xml
app/tool-page-ui/dist/view/Welcome.view.xml
resources/comibstoolpageui.zip
